h1{
    color: rgba(0, 0, 0, 0.5);
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: row;
    height: 100%;
    font-size: 21px;
}
.material-icons.md-32 {
    font-size: 32px;
    margin-left: 35px;
}
.material-icons.md-lh {
    position: relative;
    top: 3px;
}
.material-icons.md-del {
    position: relative;
    float: right;
    right: 5px;
}
.material-icons.md-priority {
    font-size: 27px;
    position: relative;
    top: 6px;
    margin-left: 10px;
    color: orangered;
}
.material-icons.md-unchecked {
    position: relative;
    top: 5px;
    margin-right: 10px;
}
.nav{
    background-color:rgb(229, 229, 229);
    width: 300px;
    overflow: auto;
}
.nav lh{
    border-bottom: 2px solid black;
    font-size: 24px;
}
.nav ul{
    margin-top: 24px;
    list-style: none;
}
.nav li{
    margin-top: 15px;
    cursor: pointer;
    padding: 5px;
}
.nav li:hover{
    background-color: royalblue;
    color: white;
}
.add-task{
    cursor: pointer;
}
.days-list{
    font-size: 21px;
}
.tasks-list{
    font-size: 21px;
}
.main{
    width: 100%;
    overflow: auto;
}
.greeting{
    text-align: center;
    font-size: 64px;
}
.expand-tasks{
    margin: 50px;
    display: flex;
    flex-direction: column;
}
.task-name{
    font-size: 24px;
    border-bottom: 2px solid black;
}
.task-todo{
    list-style: none;
    background-color: rgb(229, 229, 229); 
}
.task-todo li{  
    margin: 10px 0px 10px 0px;
    cursor: pointer;
}
.todos:hover{  
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
code{
    font-size: 18px;
    background-color: black;
    color: white;
    margin-left: 10px;
}