h1{
    color: rgba(0, 0, 0, 0.5);
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: row;
    height: 100%;
    font-size: 21px;
}
.material-icons{
    cursor: pointer;
}
.material-icons.md-32 {
    font-size: 32px;
    margin-left: 42px;
}
.material-icons.md-lh {
    position: relative;
    top: 3px;
}
.material-icons.md-del {
    position: relative;
    float: left;
    right: 5px;
}
.material-icons.md-priority-red, .material-icons.md-priority-green {
    position: relative;
    top: 6px;
    margin-left: 10px;
    color: red;
}
.material-icons.md-priority-green {
    color: green;
}
.material-icons.md-radio {
    position: relative;
    top: 5px;
    margin-right: 10px;
}
.material-icons.md-clear{
    font-size: 42px;
    align-self:flex-start;
}
.material-icons.navinput {
    font-size: 32px;
}
.nav{
    background-color:rgb(229, 229, 229);
    width: 300px;
    order: 1;
    overflow: auto;
}
.nav lh{
    border-bottom: 2px solid black;
    font-size: 24px;
}
.nav ul{
    margin-top: 24px;
    list-style: none;
}
.nav li{
    margin-top: 15px;
    cursor: pointer;
    padding: 5px;
    display: flex;
}
.nav li:hover{
    background-color: royalblue;
    color: white;
}
.add-task{
    cursor: pointer;
}
.days-list{
    font-size: 21px;
}
.tasks-list{
    font-size: 21px;
}
.main{
    width: 100%;
    overflow: auto;
    order: 2;
}
.main .done{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: line-through;
}
.greeting{
    text-align: center;
    font-size: 64px;
}
.show-task{
    margin: 50px;
    display: flex;
    flex-direction: column;
}
.task-name{
    font-size: 24px;
    border-bottom: 2px solid black;
}
.task-todo{
    list-style: none;
    background-color: rgb(229, 229, 229); 
    margin-top: 0px;
}
.task-todo li{  
    margin: 10px 0px 10px 0px;
    cursor: pointer;
    min-height: 35px;
}
.todos:hover{  
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
code {
    font-size: 18px;
    background-color: black;
    color: white;
    margin-left: 10px;
    padding: 0px 1px 0px 1px;
}
input {
    outline: 0;
    border: none;
    border-bottom: 2px solid black;
    margin-top: 10px;
    width: 90%;
    font-size: 18px;
    display: block;
}
input:focus {
    border-color: green
}
.todo-select {
    border-bottom: 2px solid rgb(0, 0, 0);
}
.info {
    margin: 20px 0px 20px 45px;
}
.notes {
    margin: 0px 0px 10px 0px;
}
.notes-head, .pri-head {
    text-decoration: underline;
}
.note {
    font-style: italic;
}
.pri-imp{
    color: red;
}
.pri-less{
    color: green;
}
.add-todo{
    position: relative;
    top: 10px
}
.todo-input {
    width: 50%;
    border: 2px solid black;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
    position: relative;
    top: -25px;
}
.input-name {
    width: 50%;
}
.input-date {
    background-color: black;
    border: none;
    color: white;
    width: 150px;
}
.input-pri {
    display: block;
    margin: 10px 0px;
}
.input-note {
    display: block;
    margin-bottom: 10px;
    width: 50%;
}
.btn {
    display: flex;
    flex-direction: row;
}
.add-btn, .cancel-btn {
    border: 1px solid black;
    padding: 10px;
    font-size: 18px;
    box-shadow: 5px 5px 5px black;
}
.add-btn {
    background-color: black;
    color: white;
}
.cancel-btn{
    margin-left: 10px;
}
.add-btn:hover, .cancel-btn:hover {
    transform: scale(1.1);
}
.input-required {
    border-color: red;
}
.nav-task {
    flex-grow: 1;
}
